<div class="newsletter-audience-admin admin-block">
    <div class="latest">
        <div class="button-bar">
            <a class="button" href="#modal" data-remodal-target="modal-campaign"><i class="fa fa-fw fa-plus"></i>{{ "Create Campaign"|tu }}</a>
        </div>
        <h1>{{ "Campaigns"|tu }}</h1>
    </div>
</div>

<table class="newsletter-audience noflex">
    <thead>
    <tr>
        <th>{{ "Campaign Name"|tu }}</th>
        <th class="pad">{{ "Sent"|tu }}</th>
        <th class="right pad">{{ "Status"|tu }}</th>
    </tr>
    </thead>
    <tbody>
    {% if campaigns|count == 0 %}
        <tr>
            <td colspan="5" class="error" style="text-align: center;">{{ "There are no campaigns created."|tu }}</td>
        </tr>
    {% else %}
        {% for campaign in campaigns|default([]) %}
            <tr>
                <td>{{ member.header.name }}</td>
                <td> <i class="fa fa-clock-o"></i> {{ member.header.created|date("F jS Y \\a\\t g:ia") }}</td>
                <td class="right pad">{{ campaign.header.status }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
</table>

<div class="remodal" data-remodal-id="modal-campaign" data-remodal-options="hashTracking: false">
    {% include 'partials/blueprints-new-campaign.html.twig' with { blueprints: admin.blueprints('pages/admin/new_campaign'), form_id: 'new-campaign' } %}
</div>

