<h1>{{ "PLUGIN_NEWSLETTER.AUDIENCE"|tu }}</h1>

<table>
    {% for member in audience %}
        <tr data-gpm-plugin="{{ member.email|url_encode }}">
            <td class="gpm-newsletter-subscribe-name">
                {{ member.name }}
            </td>
            <td class="gpm-newsletter-subscribe-email">
                {{ member.email }}
            </td>
            <td class="gpm-newsletter-subscriber-created">
                {{ member.created|date(config.plugins.newsletter.dateformat.long) }}
            </td>
            <td class="gpm-newsletter-subscriber-is_subscribed">
                {{ member.is_subscribed ? 'Subscribed' : 'Unsubscribed' }}
            </td>
        </tr>
    {% endfor %}
</table>
